<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Nuestro sitio se dedica a proporcionar información y recursos sobre algoritmos de costo mínimo y métodos de optimización, incluyendo el método de la esquina del noroeste. Nos esforzamos por ayudar a los programadores y a cualquier persona interesada en la optimización de costos y la investigación de operaciones.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categorías</h6>
                <ul class="footer-links">
                    <li><a href="/algoritmo-costo-minimo">Algoritmo de Costo Mínimo</a></li>
                    <li><a href="/metodo-esquina-noroeste">Método de la Esquina del Noroeste</a></li>
                    <li><a href="/optimización-costos">Optimización de Costos</a></li>
                    <li><a href="/transporte-distribución">Transporte y Distribución</a></li>
                    <li><a href="/programación-lineal">Programación Lineal</a></li>
                    <li><a href="/logística-distribución">Logística y Distribución</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Enlaces Rápidos</h6>
                <ul class="footer-links">
                    <li><a href="/about">Sobre Nosotros</a></li>
                    <li><a href="/contact">Contáctanos</a></li>
                    <li><a href="/contribute">Contribuir</a></li>
                    <li><a href="/privacy-policy">Política de Privacidad</a></li>
                    <li><a href="/sitemap">Mapa del Sitio</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2025 Unamba
                    <a href="#">EAIIS</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64">
                            <path fill="#fa5150"
                                d="M57.55 14.452c9.697 14.11 6.11 33.405-8 43.1c-14.11 9.697-33.407 6.112-43.1-8c-9.687-14.11-6.111-33.407 8-43.1c14.11-9.697 33.406-6.11 43.1 8" />
                        </svg></li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64">
                            <path fill="#FABE33"
                                d="M57.55 14.452c9.697 14.11 6.11 33.405-8 43.1c-14.11 9.697-33.407 6.112-43.1-8c-9.687-14.11-6.111-33.407 8-43.1c14.11-9.697 33.406-6.11 43.1 8" />
                        </svg></li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 64 64">
                            <path fill="#20C33C"
                                d="M57.55 14.452c9.697 14.11 6.11 33.405-8 43.1c-14.11 9.697-33.407 6.112-43.1-8c-9.687-14.11-6.111-33.407 8-43.1c14.11-9.697 33.406-6.11 43.1 8" />
                        </svg></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>