{% include 'header.html' %}
<div class="main">
    <div class="container">
        <div class="inner-header flex">
            <div class="animation-port">
                <img src="../static/resources/img/unamba-outline.png" alt="unamba-outline" class="unamba-outline">
                <img src="../static/resources/img/sistemas-gold.png" class="sistemas-gold" alt="sistemas-gold">
             </div>

             <div class="animation-port2">
                <img src="../static/resources/img/log-sistemas-color.png" class="sistemas-color" alt="log-sistemas-color.png">
                <img src="../static/resources/img/unamba-color.png" class="unamba-color" alt="sistemas-gold">
             </div>

            <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="40" height="40" viewBox="0 0 24 24">
                <g fill="none">
                    <path d="M0 0h24v24H0z" />
                    <path fill="#ccc"
                        d="M14.62 2.662a1.5 1.5 0 0 1 1.04 1.85l-4.431 15.787a1.5 1.5 0 0 1-2.889-.81L12.771 3.7a1.5 1.5 0 0 1 1.85-1.039ZM7.56 6.697a1.5 1.5 0 0 1 0 2.12L4.38 12l3.182 3.182a1.5 1.5 0 1 1-2.122 2.121L1.197 13.06a1.5 1.5 0 0 1 0-2.12l4.242-4.243a1.5 1.5 0 0 1 2.122 0Zm8.88 2.12a1.5 1.5 0 1 1 2.12-2.12l4.243 4.242a1.5 1.5 0 0 1 0 2.121l-4.242 4.243a1.5 1.5 0 1 1-2.122-2.121L19.621 12z" />
                </g>
            </svg>
            <div class="tex-des-port display-flex">
                <h1 class="font-weight-bold text-port">Algoritmos de la Esquina del noroeste y</h1>
                <h1 class="font-weight-bold">de <span class="shadow-blur" >Costos Mínimo</span></h1>
            </div>
        </div>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>

    </div>
</div>
{% include 'footer.html' %}